# Housing Market Analysis (London)

**NOTE:** Zoopla's API is not working. Hence, this project is abondoned until a new way to get london's housing data is found.

[London Underground Stations Data](https://storage.cloud.google.com/london-housing-market/london-underground-stations.csv)

#### Install kernel for this project
`ipython kernel install --user --name=london-housing-market`

In [1]:
%matplotlib inline

import pandas as pd
import requests

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [2]:
sns.__version__

'0.9.0'

### London Underground stations data

In [37]:
def get_london_underground_data():
    df = pd.read_csv('london-underground-stations.csv')
    df['station'] = df['station'].str.lower()
    df['line'] = df['line'].str.replace(r'\[.+\]', '').str.lower().str.split('\n')
    df['no_of_lines'] = df['line'].apply(lambda x: len(x))
    df['usage'] = df['usage'].str.split('\n').apply(lambda x: x[0]).astype('float32')
    return df
    
df = get_london_underground_data()
df.head()

,station,line,local_authority,zone,usage,no_of_lines
0,acton town,"[district, piccadilly]",Ealing,3,6.04,2
1,aldgate,"[metropolitan, circle]",City of London,1,8.85,2
2,aldgate east,"[hammersmith & city, district]",Tower Hamlets,1,14.00,2
3,alperton,[piccadilly],Brent,4,3.05,1
4,amersham,[metropolitan],Chiltern,9,2.32,1

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 6 columns):
station            270 non-null object
line               270 non-null object
local_authority    270 non-null object
zone               270 non-null object
usage              270 non-null float32
no_of_lines        270 non-null int64
dtypes: float32(1), int64(1), object(4)
memory usage: 11.7+ KB

In [41]:
df = df.sort_values(by='usage', ascending=False)

In [42]:
df.head()

,station,line,local_authority,zone,usage,no_of_lines
129,king's cross st pancras,"[metropolitan, northern, piccadilly, circle, v...",Camden,1,97.919998,6
246,waterloo,"[waterloo & city, bakerloo, northern, jubilee]",Lambeth,1,91.269997,4
170,oxford circus,"[central, bakerloo, victoria]",City of Westminster,1,84.089996,3
241,victoria,"[district, circle, victoria]",City of Westminster,1,79.360001,3
139,london bridge,"[northern, jubilee]",Southwark,1,69.050003,2